$color-principal:#dd8702;
$color-principal-hover:#c47601;
$color-secundario:#333;
$color-terceario:#1b1b1f;
$color-error:#c52929;
$color-error-2:#ad0606;
$color-submit:#11c02e;
$color-item:#444;
$color-item-claro:#555;
$color-item-header:#666;
$colo-text-claro:#bbb;
$color-text-blanco:#fff;
$color-text-disable:#969696;

// transparentes

$color-secundario-transparent:#333333d8;
$color-secundario-transparent2:#63636380;