@import './variables';

.btn_style {
    position: relative;
    width: 90%;
    max-height: 50px !important;
    margin: 2px auto 2px auto;
    background-color: $colo-text-claro;
    // height: 40px !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: $color-text-blanco;
    transition: all .5s;
    padding: .8rem;

    &:hover {
        background-color: $color-principal;
    }

    &:disabled {
        background-color: $colo-text-claro;
        color: $color-text-disable;

    }

    &__span {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 11px;
        text-align: center;
        font-weight: bold;

        background-color: $color-principal;
        border-radius: 0px 0px 10px 10px;
    }

    &__spanVencido {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 11px;
        text-align: center;
        font-weight: bold;
        background-color: $color-error-2;
        border-radius: 0px 0px 10px 10px;

    }
}


.btn_style__remove {
    margin: 2px auto 2px auto;

    width: 90%;
    background-color: $color-principal;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: $color-text-blanco;
    transition: all .5s;

    &:hover {
        background-color: $color-error-2;
    }
}