.App__dashboard__contPageOutlet__PageUsers__newUser__form__contInputs__selectMunicipio{
    width: 90%;
    margin: 2px auto 2px auto;

    select{
        color: #f0a !important;
        position: absolute;
    }

    label{
        width: 100% !important;
    }

    select{
        width: 100%;
    }

    input{
        width: 100%;
    }
}