@import './variables';

.App__dashboard__contPageOutlet__PageUsers__menuUser__contDataUser__contratoNotFound {
    position: absolute;
    top: 0;
    right: -75%;
    width: 50%;
    height: 100%;
    background-color: $color-secundario-transparent2;
    box-shadow: 1px 1px 20px 3px #3a3a3a;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__contInputs {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__contBtn{
            display: flex;
            // justify-content: center;
            align-items: center;
            span{
                font-size: 25px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg{
                    font-size: 30px;
                    margin: 0 10px 0 10px;
                }
            }
        }
    }

    &__active {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: $color-secundario;
        box-shadow: 1px 1px 20px 3px #3a3a3a;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}