@import './variables';

.input_style {
    width: 90%;
    margin: 10px auto 10px auto;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;

    @media (max-width:1366px) {
        padding: .9em;
        margin: 2px auto 2px auto;

    }

    &:focus {
        background-color: white;
        transform: scale(1.05);
        box-shadow: 13px 13px -10px #969696,
            -13px -13px -10px #ffffff;
    }

    &:disabled {
        color: #969696;
    }
}