.App__init__tablaMarcaciones__body__itemHeader {
    background-color: #dd8702;
    display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 50px;
    width: 95%;
    height: 80px;
    align-self: center;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin: 10px 0 10px 0;
    padding-left: 30px;
    animation: aparecer 1s forwards;


    &__header {
        margin: 10px 0 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        
        h4 {
            font-weight: 600;
            width: 30%;
        }

    }
}