@import './variables';

.App__init__tablaMarcaciones__body__item {
    background-color: $color-item;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
    align-self: center;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 10px 0 0px 0;
    padding-left: 30px;
    border: 1px solid transparent;
    // animation: aparecer 1s forwards;
    transition: all .5s;


    &__sinContrato {
        background-color: $color-error-2;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70px;
        align-self: center;
        border-radius: 5px;
        text-align: center;
        position: relative;
        margin: 10px 0 0px 0;
        padding-left: 30px;
        border: 1px solid transparent;
        // animation: aparecer 1s forwards;
        transition: all .5s;
    }



    &__header {
        margin: auto;
        width: 100%;
        display: flex;


        // align-items: center;
        &__contVerRegistros {
            position: absolute;
            top: -3px;
            right: 3px;

            svg {
                font-size: 15px;
                cursor: pointer;
                transition: color .5s;

                &:hover {
                    color: $color-principal;
                }
            }

        }

        h4 {
            transition: all .5s;
            font-weight: 500;
            width: 23%;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;

            @media (max-width: 1366px) {
                width: 20% !important;

            }
        }

        h4:first-child {
            cursor: pointer;
            // width: 35% !important;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
                font-size: 50px;
            }


            &:hover {
                color: $color-principal;
            }

            // text-align: left;


            @media (max-width: 1366px) {
                width: 35% !important;

            }

        }

        h4:nth-child(4) {
            display: flex;
            background-color: $color-principal !important;
            border-radius: 5px;
            white-space: wrap;

        }

        span {
            width: 23%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            background-color: $color-error-2 !important;
            border-radius: 5px;
            white-space: wrap;

            @media (max-width: 1366px) {
                width: 20% !important;

            }
        }
    }

    &__footer {
        display: none;

        button {
            background-color: $color-principal;
            border-radius: 100px;
            border: none;
            cursor: pointer;

            svg {
                font-size: 30px;
            }
        }

        span {
            margin: 0 5px 0 5px;
        }
    }

    &__footer__active {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;

        button {
            background-color: $color-principal;
            border-radius: 100px;
            border: none;
            cursor: pointer;

            svg {
                font-size: 30px;
            }
        }

        span {
            margin: 0 5px 0 5px;
        }
    }

}

@keyframes aparecer {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}