.App__init__marcacionesEnDirecto__body__item {
    position: relative;
    background-color: #555;
    border-radius: 5px;
    width: 90%;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    height: 110px;
    transition: all .5s;
    border: 1px solid transparent;
    animation: slideDownFade 0.5s ease-out;

    &:hover {
        border: 1px solid #dd8702;
    }


    h5 {
        margin: 0 0 0 5px;
    }

    &__ico {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            font-size: 400%;
            color: #dd8702;
        }
    }

    &__info {
        width: 70%;

        b {
            color: #dd8702;
            font-weight: 600;
        }

        span {
            font-weight: bold;
        }
    }




}

.item-enter {
    animation: slideDownFade 0.5s ease-out;
}


@keyframes slideDownFade {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.item-enter {
    animation: slideDownFade 0.5s ease-out;
}