@import './variables';

.App__loginPage {
    display: flex;
    width: 100%;
    animation: aparecer 0.5s forwards;

    &__cont {
        width: 40%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: $color-terceario;
        transition: all .5s;
        position: relative;

        &__success {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all .5s;
        }

        &__contForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            outline: none;
            height: 100%;
            width: 100%;
            position: absolute;
            animation: aparecer 1s forwards;
            // background-color: #f0a;


            &__title {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-bottom: 20px;

                h4{
                    color: $color-principal;
                    margin-top: 10px;
                    font-weight: bold;
                    font-size: 18px;
                }

                span{
                    width: 300px;
                    color: $colo-text-claro;
                }
                
            }

            &__contImg {

                // margin-bottom: 30px;
                &__imgLogo {
                    width: 400px;
                    margin: auto;
                }
            }

            &__form {
                display: flex;
                flex-direction: column;


                input {
                    border-radius: 5px;
                    border: 2px solid #fff;
                    margin-bottom: 5px;
                    height: 25px;
                    outline: none;
                    transition: all .5s;

                    &:focus {
                        border-color: $color-principal;
                    }

                    &:disabled {
                        border: 2px solid #ccc;
                        background-color: #ccc;

                    }
                }



                &__button {
                    position: relative;
                    border-radius: 5px;
                    border: none;
                    height: 20px;
                    cursor: pointer;
                    background-color: #fff;
                    transition: all .5s;
                    font-weight: bold;
                    color: #1b1b1f;
                    outline: none;


                    &:hover {
                        background-color: $color-principal;
                        transition: all .5s;
                        color: #fff;
                    }

                    &:focus {
                        background-color: $color-principal;
                        transition: all .5s;
                        color: #fff;
                    }

                    svg {
                        position: absolute;
                        left: 15%;
                        top: 15%;
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                &__showPassLogin {
                    position: relative;

                    svg {
                        position: absolute;
                        right: 5px;
                        top: 20%;
                        color: $color-principal;
                    }

                }


                &__loadingBoton {
                    position: relative;
                    border-radius: 5px;
                    border: none;
                    height: 20px;
                    cursor: pointer;
                    background-color: $color-principal;
                    transition: all .5s;
                    font-weight: bold;
                    color: #fff;
                    outline: none;
                    // animation: rotate 1s infinite;

                    svg {
                        position: absolute;
                        left: 15%;
                        top: 15%;
                        opacity: 1;
                        visibility: visible;
                        animation: rotate 1s infinite linear;

                    }
                }

            }

            &__forgot {
                margin: 10px 0 0 0;

                a {
                    color: $color-principal;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
    }

    &__contBanner {
        width: 60%;
        background-color: $color-secundario;
        transition: all .5s;
        display: flex;
        justify-content: center;
        align-items: center;



        &__success {
            width: 0%;
            background-color: $color-secundario;
            transition: all .5s;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                -webkit-user-drag: none;
            }

        }

        &__banner {
            width: 50%;
            display: inline-block;

            img {
                -webkit-user-drag: none;

                width: 100%;
            }
        }
    }

    &__disable {
        display: flex;
        width: 100%;
        animation: desaparecer 0.5s forwards;

    }

}


@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes desaparecer {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;

    }
}