@import './variables';
.App__dashboard__contPageOutlet__PageUsers__newUser__btnControl {
    display: flex;
    justify-content: center;
    align-items: end;

    &__btn {
        background-color: $color-principal;
        border: none;
        margin-right: 10px;
        height: 40px;
        border-radius: 10px 10px 0 0;
        color: #fff;
        cursor: pointer;
        border-bottom: 1px solid #000;
        transition: all .5s;

        &:hover {
            height: 50px;
            background-color: $color-principal-hover;
        }

        &__active {
            background-color: $color-principal-hover;
            border: none;
            margin-right: 10px;
            height: 50px;
            border-radius: 10px 10px 0 0;
            color: #fff;
            cursor: pointer;
            border-bottom: 1px solid #000;
            transition: all .5s;
        }
    }

}