@import './variables';
.scrollBar {
    &::-webkit-scrollbar {
        width: 12px;
        /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #444;
        border-radius: 10px;
        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-principal;
        /* color of the scroll thumb */
        border-radius: 20px;
        /* roundness of the scroll thumb */
        border: 3px solid $color-principal;
        /* creates padding around scroll thumb */
    }
}