@import './variables';

.App__dashboard__contPageOutlet__PageUsers__menuVerPuntoVenta__form__horarios__itemHorario__horarios__item {
    position: relative;
    background-color: $color-item-header;
    border-radius: 5px;
    margin: 5px auto 5px auto;
    padding: 0 10px 0 10px;
    width: 75%;
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap;
    // flex-direction: column;

    @media (max-width:1366px) {
        width: 85%;
    }

    span {
        // width: 50%;
        text-align: left !important;

        &:nth-child(1) {

            b {
                font-weight: bold;
                color: $color-principal;
            }
        }

        &:nth-child(7) {
            // background-color: #f0a !important;
            height: 13px;
            width: 100% !important;
            display: flex;
            justify-content: end;
            align-items: center;
        }

        @media (max-width:1366px) {
            & {
                width: auto;
            }
        }

        b {
            margin: 0 5px 0 5px;
            font-weight: bold;
            color: #fff;
        }
    }


    &__spanSinDescanso {
        width: 50% !important;
        background-color: $color-error;
        border-radius: 5px;

        b {
            // margin: 0 !important;
        }
    }

    svg {
        cursor: pointer;
        transition: color .5s;
        font-size: 12px;

        &:hover {
            color: $color-principal;
        }
    }

}