@import './variables';

.App__dashboard__contPageOutlet__PageUsers__menuVerPuntoVenta__form__horarios__itemHorario__horarios__item {
    position: relative;
    background-color: $color-item-header;
    border-radius: 5px;
    margin: 5px auto 5px auto;
    padding: 0 10px 0 10px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // flex-direction: column;
    span {
        width: 50%;
        text-align: left !important;

        &:nth-child(1) {
            // width: 60% !important;
            b {
                font-weight: bold;
                color: $color-principal;
            }
        }

        @media (max-width:1366px) {
            &{
                width: auto;
            }
        }

        b {
            margin: 0 5px 0 5px;
            font-weight: bold;
            color: #fff;
        }
    }

    svg {
        position: absolute;
        bottom: 5px;
        right: 10px;
        cursor: pointer;
        transition: color .5s;

        &:hover {
            color: $color-principal;
        }
    }

}